.container {
    height: 60px;
    width: 100%;
    background-color: black;
    box-shadow: 0 4px 2px -2px rgb(255, 183, 28);

    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 3;
    .content {
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        align-items: center;
        .logo {
            font-family: "Sigmar One", cursive;
            color: #fff;
            font-size: 36px;
        }
        .links {
            display: flex;
            align-items: center;
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            li {
                float: left;
            }
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            li a:hover {
                font-weight: 600;
                font-size: 18px;
                color: #ffdf2d;
            }
            font-size: 16px;
            color: #fff;
            display: flex;
            font-weight: 500;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container {
        height: 48px;
        .content {
            .logo {
                font-size: 28px;
            }
            .links {
                display: none;
            }
        }
    }
}
