.wrapper {
    width: 100%;
    height: 100%;

    .home {
        width: 100%;
        max-width: 1440px;
        height: 100%;
        margin: 0 auto;
        padding: 10rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        position: relative;
        .textsection {
            display: flex;
            flex-direction: column;
            .name {
                font-size: 80px;
                font-weight: 700;
                width: fit-content;
                text-transform: uppercase;
                background: linear-gradient(to top, #ff2828, #f03fca);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                filter: drop-shadow(0px 0px 1px #ff2828);
                &:hover {
                    filter: drop-shadow(0px 0px 5px #ff2828);
                }
            }
            .role {
                font-size: 42px;
                font-weight: 500;
                width: fit-content;
                //background: linear-gradient(to top, #4a00e0, #8e2de2);
                background: linear-gradient(to bottom, #fda517, #fff12d);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                filter: drop-shadow(0px 0px 1px #fda517);
                &:hover {
                    filter: drop-shadow(0px 0px 5px #fda517);
                }
            }
            .introduce {
                line-height: 1.5;
                font-size: 22px;
                width: 80%;
                min-width: 500px;
                margin: 1rem 0;
            }
            .btnbox {
                display: flex;
                gap: 1rem;

                .btn2 {
                    background: none;
                    padding: 11px 27px;
                    // border: 3px solid #6e30eb;
                    // color: #6e30eb;
                    border: 3px solid #fda517;
                    color: #fda517;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 5px;
                    font-size: 20px;
                    cursor: pointer;
                }
                .btn2:hover {
                    box-shadow: 0 0.5em 0.5em -0.4em #fda517;
                    transform: translateY(-0.25em);
                }

                .btn1 {
                    // background: linear-gradient(to top, #4a00e0, #8e2de2); /* Green */
                    background: linear-gradient(to bottom, #fda517, #fff12d);
                    border: none;
                    color: white;
                    padding: 14px 30px;
                    text-align: center;
                    text-decoration: none;
                    border-radius: 5px;
                    font-size: 20px;
                    cursor: pointer;
                    color: #111111;
                    font-weight: 600;
                }
                .btn1:hover {
                    box-shadow: 0 0.5em 0.5em -0.4em #fda517;
                    transform: translateY(-0.25em);
                }
            }
        }
        .box {
            background: linear-gradient(to bottom, #fda517, #fff12d);
            width: 420px;
            height: 420px;
            border-radius: 50%;
            padding: 10px;
            box-shadow: 0 0 5px#fda517;
            .img {
                border-radius: 50%;
                //border-image: linear-gradient(to right, darkblue, darkorchid) 1;
            }
        }
        .box:hover {
            box-shadow: 0 0 10px #fda517;
            transform: translateY(-0.25em);
        }
    }
}
.footer {
    .arrow {
        width: 35px;
        height: 27px;
        display: block;
        position: absolute;
        left: 50%;
        z-index: 10;
        animation: arrow 1.5s infinite;
        border-style: none;
        outline: 0;
        margin: 2rem 0;
    }
    .arrowimg {
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }

    @keyframes arrow {
        0% {
            bottom: 0px;
        }
        50% {
            bottom: 15px;
        }
        100% {
            bottom: 0px;
        }
    }
}
