.container{
    width: 100%;
    // background: #8e2de2; /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #4a00e0, #8e2de2); /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(
    //     to left,
    //     #4a00e0,
    //     #8e2de2
    // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100%;
    display: flex;
    align-items: center;
}
.skills{
    width: 100%;
    max-width: 1440px;
    height: 80%;
    margin: 5rem auto 0;
    padding: 2rem 2rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #4a00e0;
    flex-direction: column;
    .title{
            font-size: 60px;
            font-weight: 700;
            background: linear-gradient(to top, #4a00e0, #8e2de2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
    }
    .skillsLogo{
        margin: 4rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap:4rem

    }
}