.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem ;
    .title {
        font-size: 40px;
        font-weight: 700;
        width: fit-content;
        background: linear-gradient(to bottom, #fda517, #fff12d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 1px #fda517);
        &:hover {
            filter: drop-shadow(0px 0px 5px #fda517);
        }
    }
    .contactList{
        width: 100%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        gap: 0 2rem;
       
        .contactItem{
            font-size: 20px;
            color: white;
            margin: 1rem 0;
            display: flex;
            i{
                position: relative;
                font-size: 40px;
                top:5px;
                margin: 0 0.5rem;
            }
            .details{
                .method{
                    font-size: 16px;
                    opacity: 0.5;
                }
            }
        
        }
    }
}