.card{
    width: 100%;
    height: 100px;
    margin: 2rem auto ;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #fda517;
    
    .textbox{
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #000000;
        gap:5px;
        width: 100%;
        .title{
            font-size: 30px;
            font-weight: 700;
        }
        .description{
            font-size: 20px; 
        }
    }
    .link{
        width: 300px;
        
        .btn{
            // background: linear-gradient(to top, #4a00e0, #8e2de2); /* Green */
            background: linear-gradient(to bottom, #fda517, #fff12d);
            border: none;
            color: white;
            padding: 14px 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
            color: #111111;
            font-weight: 600;
            box-shadow: 0 0.2em 0.2em -0.2em #fda517;
        }
        .btn:hover {
            box-shadow: 0 0.5em 0.5em -0.4em #fda517;
            transform: translateY(-0.25em);
        }
    }
    &:hover{
        transform: translateY(-0.25em);
    }

}

.img{
    width: 200px;
    height: 150px;
    object-fit: contain;   
 }