.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    //height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;
    .title {
        font-size: 60px;
        font-weight: 700;
        background: linear-gradient(to bottom, #fda517, #fff12d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 1px #fda517);
        &:hover {
            filter: drop-shadow(0px 0px 5px #fda517);
        }
    }
    .subtitle {
        font-size: 40px;
        font-weight: 700;
        margin: 1rem 0;
        width: fit-content;
        background: linear-gradient(to bottom, #fda517, #fff12d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 1px #fda517);
        &:hover {
            filter: drop-shadow(0px 0px 5px #fda517);
        }
    }
    .featured {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }
    .other {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        .otherList {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0 2rem;
        }
    }
}
.lightContainer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    //height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;
    .title {
        font-size: 60px;
        font-weight: 700;
        color: #111111;
    }
    .subtitle {
        font-size: 40px;
        font-weight: 700;
        margin: 1rem 0;
        width: fit-content;
        color: #111111;
    }
    .featured {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
    }
    .other {
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        .otherList {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 0 2rem;
        }
    }
}

@media only screen and (max-width: 1228px) {
    .container {
        padding: 4rem 0 0;
        .title {
            font-size: 36px;
        }
        .subtitle {
            font-size: 24px;
        }
        .other {
            width: 100%;
            height: 100%;
            margin-top: 1rem;
            .otherList {
                display: grid;
                grid-template-columns: auto;
                gap: 0;
            }
        }
    }
    .lightContainer {
        padding: 4rem 0 0;
        .title {
            font-size: 36px;
        }
        .subtitle {
            font-size: 24px;
        }
        .other {
            width: 100%;
            height: 100%;
            margin-top: 1rem;
            .otherList {
                display: grid;
                grid-template-columns: auto;
                gap: 0;
            }
        }
    }
}
