.card {
    width: 100%;
    height: 200px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #fda517;
    &:hover {
        transform: translateY(-0.25em);
    }
    .textbox {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #000000;
        gap: 5px;
        width: 100%;
        .title {
            font-size: 36px;
            font-weight: 700;
        }
        .period {
            font-size: 18px;
            color: #444444;
            font-weight: 500;
        }
        .description {
            font-size: 22px;
        }
    }
    .link {
        width: 300px;

        .btn {
            font-family:'Sora';
            background: linear-gradient(to bottom, #fda517, #fff12d);
            border: none;
            color: white;
            padding: 14px 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            color: #111111;
            font-weight: 600;
            box-shadow: 0 0.2em 0.2em -0.2em #fda517;
        }
        .btn:hover {
            box-shadow: 0 0.5em 0.5em -0.4em #fda517;
            transform: translateY(-0.25em);
        }
    }
}

.lightCard {
    width: 100%;
    height: 200px;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #c2c2c2;
    &:hover {
        transform: translateY(-0.25em);
    }
    .textbox {
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        color: #000000;
        gap: 5px;
        width: 100%;
        .title {
            font-size: 36px;
            font-weight: 700;
        }
        .period {
            font-size: 18px;
            color: #444444;
            font-weight: 500;
        }
        .description {
            font-size: 22px;
        }
    }
    .link {
        width: 300px;

        .btn {
            font-family:'Sora';
            background: linear-gradient(to bottom, #ffc400, #ff922d);
            border: none;
            color: white;
            padding: 14px 30px;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            cursor: pointer;
            color: #111111;
            font-weight: 600;
            box-shadow: 0 0.2em 0.2em -0.2em #fda517;
        }
        .btn:hover {
            box-shadow: 0 0.5em 0.5em -0.4em #fda517;
            transform: translateY(-0.25em);
        }
    }
}

.img {
    width: 200px;
    height: 150px;
    object-fit: contain;
}

@media only screen and (max-width: 1228px) {
    .card,.lightCard {
        width: 100%;
        height: 100%;
        flex-direction: column;
        .textbox {
            .title {
                font-size: 28px;
            }
            .period {
                font-size: 14px;
            }
            .description {
                font-size: 18px;
            }
        }
        .link {
            width: 100%;
            display: flex;
            justify-content: center;
            .btn {
                font-size: 16px;
                font-weight: 600;
                width: 100%;
                margin: 0.5rem 0;
            }

        }
    }
    .img {
        width: 100%;
        height: 200px;
        object-fit:contain;
    }
}
