.container {
   background: radial-gradient(#0c0549, #010c1f,#000816);
   -webkit-user-select: none;  /* Chrome all / Safari all */
   -moz-user-select: none;     /* Firefox all */
   -ms-user-select: none;      /* IE 10+ */
   user-select: none;          /* Likely future */      
}
.section {
    height: 100vh;
    position: relative;
    z-index: 1;
}


.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400vh;
    overflow: hidden;
    margin: 0;

    
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
   // background: rgba(255, 255, 255, 0.2);
   background: linear-gradient(to bottom, #fda517, #fff12d);
    animation: animate 25s linear infinite;
    left: -150px;
    
    
}

.circles li:nth-child(1){
    top: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    top: 10%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    top: 70%;
    width: 40px;
    height: 40px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    top: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    top: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    top: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    top: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    top: 50%;
    width: 55px;
    height: 55px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    top: 20%;
    width: 25px;
    height: 25px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    bottom: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11){
    bottom: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(12){
    bottom: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(13){
    bottom: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(14){
    bottom: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(15){
    bottom: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(16){
    bottom: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(17){
    bottom: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(18){
    bottom: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(19){
    bottom: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(20){
    bottom: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}




@keyframes animate {

    0%{
        transform: translateX(0) translateY(0)rotate(0deg);
        opacity: 0.8;
        border-radius: 0;
    }

    100%{
        transform: translateX(2000px) translateY(-2000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}