.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;
    .title {
        font-size: 60px;
        font-weight: 700;
        background: linear-gradient(to bottom, #fda517, #fff12d);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 0px 1px #fda517);
        &:hover {
            filter: drop-shadow(0px 0px 5px #fda517);
        }
    }

    .footer {
        .arrow {
            width: 35px;
            height: 27px;
            display: block;
            position: absolute;
            left: 50%;
            z-index: 10;
            animation: arrow 1.5s infinite;
            border-style: none;
            outline: 0;
            margin: 2rem 0;
        }
        .arrowimg {
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
            transform: translateX(-50%);
        }

        @keyframes arrow {
            0% {
                bottom: 0px;
            }
            50% {
                bottom: 15px;
            }
            100% {
                bottom: 0px;
            }
        }
    }
    .date{
        color: #fff;
    }
}

.lightContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 7rem;
    .title {
        font-size: 60px;
        font-weight: 700;
        color: #111111;
        border-bottom: 5px solid #fda517;
    }

    .footer {
        .arrow {
            width: 35px;
            height: 27px;
            display: block;
            position: absolute;
            left: 50%;

            z-index: 10;
            animation: arrow 1.5s infinite;
            border-style: none;
            outline: 0;
            margin: 2rem 0;
        }
        .arrowimg {
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
            transform: translateX(-50%);
        }

        @keyframes arrow {
            0% {
                bottom: 0px;
            }
            50% {
                bottom: 15px;
            }
            100% {
                bottom: 0px;
            }
        }
    }
}
.timeline {
    width: 100%;
    padding-top: 2rem;
    word-wrap: break-word;
    h2 {
        color: black;
        margin-bottom: 0.5rem;
    }
    .timelineIcon {
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 1170px) {
    .container,
    .lightContainer {
        padding: 4rem 0 0;
        .title {
            font-size: 36px;
        }
        .skills {
            width: 100%;
            margin: 1rem auto;
            padding: 1.5rem 0.5rem;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 10px;
            flex-direction: column;

            .skillsLogo {
                margin: 0;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
            }
        }
        .footer {
            .arrow {
                display: none;
            }
        }
    }
    .timeline {
        h2 {
            font-size: 20px;
        }
        .timelineIcon {
            padding: -10px 0;
            i{
                font-size: 24px !important;
            }
        }
    }
  
    .date{
        color: #000 !important;
    }
}
